.answer {
    border: 1px solid var(--blue-medium);
    border-radius: 12px;
    padding: 0.2rem 1.5rem;
    font-weight: 500;
}

.correct-answer {
    background-color: var(--green);
    border-color: var(--green);
}

.selected {
    background-color: var(--blue-light);
    border-color: var(--blue-light);
}