.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid var(--blue-light);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.question-container>* {
    animation-name: enter-questions;
    animation-duration: 1.5s;
}

.question {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.answer-container {
    display: flex;
    gap: 1rem;

}

@keyframes enter-questions{
    from {
        font-size: 0;
        opacity: 0;
        border: none;
    }
    to {
        opacity: 1;
    }
}