* {
  box-sizing: border-box;

}

html {
  height: 100%;
}

body {
  background: rgba(245, 247, 251, 1);
  padding: 0;
  display: flex;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: pink;
}

.yellow-ornament {
  position: absolute;
  right: 0;
  top: 0;
}

.blue-ornament {
  position: absolute;
  left: 0;
  bottom: 0;
}